<div class="pagina">

  <div class="coluna">
    <div class="topo-esquerdo">
      <h3>Olá Admin!</h3>
      <p>Sair</p>
    </div>
      
    <div class="lateral-esquerda">
      <div class="links">
        <a routerLink="/dados-videos">Dados - Vídeos</a>
        <br>
        <a routerLink="/dados-categorias">Dados - Categorias</a>
      </div>
      <img class="logo" src="./page/src/img/unb.png" alt="Logo">
    </div>
  </div>

  <div class="centro">
    <h1>Olá, administrador!</h1>

    <div class="main">
      <app-dados-videos/>
      <app-dados-categorias/>
    </div>
  </div>
  
</div>