h1 {
    text-decoration: none;

    padding-left: 30px;
    color: #00A550;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: bold;
}

h3 {
    text-decoration: none;

    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

p {
    text-decoration: none;

    color: #0286C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;

    color: #6D6D6D;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.main {
    display: flex;
    justify-content: flex-start;
}

.coluna{
    width: 129px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.topo-esquerdo{
    width: 129px;
    height: 60px;
    padding-left: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lateral-esquerda{
    padding-left: 10px;
    padding-top: 20px;
}

.centro{
    width: 1151px;
    height: 720px;
    background-color: #F5F5F5;
}

.pagina{
    display: flex;
    flex-direction: row;
}